<h1>All Items</h1>
    <h3>@Model.ItemCategory</h3>
    <div class="row mt -5 mb -2">
        @{
            foreach (Item item in Model.AllItems)
            {
                @Html.Partial("AllItems", item)
                }
            }
     </div> 
   