<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="/Items/ItemList" class="nav-link px-2 text-white">Все товары</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li>
                        <a href="/ShopCart/" class="nav-link px-2 text-white">Корзина</a>
                    </li>
                    <li><a href="/Items/ItemList/lak" class="nav-link px-2 text-white">Лаки</a></li>
                    <li><a href="/Items/ItemList/kras" class="nav-link px-2 text-white">Краски</a></li>
                    <li><a href="/Items/ItemList/lak" class="nav-link px-2 text-white">Прайс</a></li>
                    <li><a href="/Items/ItemList/smes" class="nav-link px-2 text-white">Смеси</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Этот сайт разработан гением технических наук в сфере разработки приложений</p>
            <p class="mb-0">Есть какие-то замечания ? Надеюсь что нет </p>
        </div>
    </footer>
    <script src="¬/js/bootstrap.min.js.map"></script>
</body>
</html>
